<div class="jumbotron">
  <h3>MEDIACIÓN Y CONCILIACIÓN</h3>
  <p>Los miembros de la Universidad de León pueden utilizar este recurso para solicitar mediación en cualquiera de las materias
    que afecte a la vida universitaria.
  </p>

</div>
<form class="well">
  <p>
    La mediación y conciliación es un procedimiento para la resolución de conflictos universitarios, de carácter voluntario,
    que precisa la aceptación de las partes implicadas, y en la que se busca una solución satisfactoria para las mismas mejorando
    así la calidad universitaria en todos los aspectos.
  </p>
  <p>
    Los miembros de la comunidad universitaria pueden dirigirse a la Defensoría Universitaria para solicitar la mediación en
    cualquiera de las materias que afecten a la vida universitaria y así dirimir sus posibles desacuerdos de una manera pacífica.
  </p>
  <p>
    La petición de mediación se realiza mediante un escrito en el que conste con claridad la pretensión que se plantea. Se dará
    recibo del escrito indicando el número de expediente asignado. Este número será de utilidad para obtener información
    sobre la petición formulada.
  </p>
  <p>
    Recibida la petición, ésta se comunicará a las partes interesadas para que manifiesten expresamente la aceptación de la medición.
    Si transcurridos diez días no se recibe ninguna respuesta de aceptación de la mediación solicitada, se entiende que rechaza
    la misma.
  </p>
  <p>
    <img src="images/mediacion-pasos.jpg" alt="mediacion y conciliacion">
  </p>
</form>