<p>
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</p>
<form class="well">
  <h2>
    Defensoría Universitaria
  </h2>
  <p>
    Edificio de Servicios - 1ª Planta
  </p>
  <p>
    Despacho 1009/1010
  </p>
  <p>
    Campus de Vegazana, s/n
  </p>
  <p>
    24071 - León
  </p>
  <p>
    Teléfono: 987 29 18 68
  </p>
  <p>
    Correo electrónico: uldcu@unileon.es
  </p>
</form>