<div class="container">
  <h1>Queja</h1>
  <form #form="ngForm" (ngSubmit)="onSubmitAddComplain(form.value)" class="well">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" name="name" required ngModel>
    </div>
    <div class="form-group">
      <label for="LastName">Apellidos</label>
      <input type="text" class="form-control" name="lastName" required ngModel>
    </div>
    <div class="form-group">
      <label for="req">Asunto</label>
      <select class="form-control" name="request" required ngModel>
          <option value="" hidden>Seleccione una opción</option>
          <option *ngFor="let request of req" [value]="request">{{request}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="email">Correo Electronico</label>
      <input type="text" class="form-control" name="email" required ngModel>
      <select class="form-control" name="email" required ngModel>
          <option value="" hidden>Seleccione una opción</option>
          <option *ngFor="let email of emreq" [value]="email">{{email}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="name">Tema</label>
      <input type="text" class="form-control" name="topic" required ngModel>
    </div>
    <div class="form-group">
      <label for="name">Motivo</label>
      <textarea class="form-control" rows="4" name="reason" required ngModel>
        </textarea>
    </div>   
    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Enviar</button>
  </form>
</div>

