<div class="jumbotron">
  <h1>Home!</h1>
</div>
<div class="carousel">
  <carousel class="carousel">
    <slide>
      <img src="images/investigacion.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h3>Investigación</h3>
        <p>La Defensoría Universitaria investiga, ya sea de oficio o a instancia de parte, las reclamaciones, quejas y consultas
          que se les haga llegar por parte de la comunidad universitaria.</p>
      </div>
    </slide>
    <slide>
      <img src="images/mediar.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h3>Mediación y Conciliación</h3>
        <p>Los miembros de la Universidad de León pueden utilizar este recurso para solicitar mediación en cualquiera de las
          materias que afecte a la vida universitaria.</p>
      </div>
    </slide>
    <slide>
      <img src="images/incidencia.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Incidencia</h3>
        <p>Escribenos para cualquier incidencia que tengas</p>
      </div>
    </slide>
  </carousel>
</div>
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map>