form, h1{
    background: rgba(255,255,255,0.5);
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}