<div class="jumbotron">
  <h3>QUÉ HACEMOS</h3>
  <p>¿Qué hacemos en la Defensoría Universitaria? Hay tres líneas de actuación: Investigación, mediación y conciliación y consultas.
  </p>

</div>
<form class="well">
  <p>
    La Defensoría Universitaria vela por el respeto a los derechos y libertades de todos los miembros de la comunidad universitaria
    con tres líneas de actuación fundamentales:
  </p>
  <p>
    <a routerLink="/investigation">Investigación</a>: las quejas deberán formularse por escrito a través del formulario on-line o presentándolas personalmente
    en la Defensoría Universitaria, indicando los datos personales del peticionario, domicilio a efecto de notificaciones,
    hechos que originan la petición y alcance de la petición que se formula. Los datos se mantendrán rigurosamente en secreto
    excepto en las situaciones en que resulte imprescindible indicarlos para su trámite.
  </p>
  <p>
    <a routerLink="/mediation">La mediación y conciliación</a>: es un procedimiento para la resolución de conflictos universitarios, de carácter
    voluntario, que precisa la aceptación de las partes implicadas, y en la que se busca una solución satisfactoria para
    las mismas mejorando así la calidad universitaria en todos los aspectos.
  </p>
  <p>
    <a routerLink="/complain" routerLinkActive="active">Haznos tu consulta</a>: la Defensoría Universitaria quiere escuchar
    todo lo que la comunidad tenga que decir. Esperamos vuestros comentarios y sugerencias.
  </p>
</form>