.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #282222;
}
.navbar {
  background-color: #282222
}
.container .text-muted {
  margin: 20px 0;
}
.hide {
  display: none;
}


.waves-effect {
  background-color: rgba(2, 185, 185, 0.99);
}
