<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Defensoría</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/complain" routerLinkActive="active">Incidencia</a></li>
      <li><a routerLink="/files" routerLinkActive="active">Archivos</a></li>
      <li><a routerLink="/answer" routerLinkActive="active">Respuestas</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<footer class="footer">
  <div class="container">
    <p class="text-muted">Made by: Javier Leza Andía</p>
  </div>
</footer> -->