<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Defensoría Universitaria</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li dropdown>
        <a href dropdownToggle (click)="false">Que hacemos</a>
        <ul *dropdownMenu class="dropdown-menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="/we-help-you">Te ayudamos</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/investigation">Investigación</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/mediation">Mediación y conciliación</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/complain">Haznos tu consulta</a>
        </ul>
        </li>
        <li><a routerLink="/complain" routerLinkActive="active">Incidencia</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
        <li [class]="ans"><a routerLink="/answer" routerLinkActive="active">Respuestas</a></li>
        <li [class]="access"><a (click)="acceder.show()">Login</a></li>
        <li [class]="ans"><a (click)="register.show()">Registar nuevo Administrador</a></li>
        <li [class]="disconnect"><a (click)="logout()">Desconectar</a></li>
    </ul>
    <div id="photo-ule" align="right">
      <a title="ULE" href="https://www.unileon.es/"><img src="images/ule.png" alt="ule"></a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- ACCEDER -->
<div class="modal fade" bsModal #acceder="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Acceder</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="acceder.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="panel-body">
            <div class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="user.email" id="email" placeholder="Usuario" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <p>
                  <input [(ngModel)]="user.password" id="password" placeholder="Contraseña" type="password" class="validate">
                  <label for="password">Password</label>
                </p>
              </div>
            </div>
            <span>{{errorMsg}}</span>
            <p>
              <button (click)="login()" class="btn waves-effect waves-light" type="submit" name="action">Acceder</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--////////////////////////////////////////////////////////////////-->

<!-- REGISTRAR NUEVO USUARIO-->
<div class="modal fade" bsModal #register="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Registrar Admin</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="register.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm" (ngSubmit)="signup(form.value); register.hide()" class="well">
        <div class="modal-body">
          <div class="container">
            <div class="panel-body">
              <div class="row">
                <div class="input-field col s12">
                  <input name="email" placeholder="Usuario" type="text" class="validate" required ngModel>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <p>
                    <input name="password" placeholder="Contraseña" type="password" class="validate" required ngModel>
                  </p>
                </div>
              </div>
              <span>{{errorMsg}}</span>
              <p>
                <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!form.valid">registrar</button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--//////////////////////////////////-->

<footer class="footer">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/we-help-you">Te ayudamos</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/investigation">Investigación</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/mediation">Mediación y conciliación</a></li>
        <li><a routerLink="/complain" routerLinkActive="active">Incidencia</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
        <li [class]="ans"><a routerLink="/answer" routerLinkActive="active">Respuestas</a></li>
        <li [class]="access"><a (click)="acceder.show()">Login</a></li>
        <li [class]="ans"><a (click)="register.show()">Registar nuevo Administrador</a></li>
        <li [class]="disconnect"><a (click)="logout()">Desconectar</a></li>
      </ul>
      <div align="right">
        <p class="text-muted">Made by: Javier Leza Andía</p>
      </div>
    </div>
  </nav>
</footer>