<div class="jumbotron">
  <h3>INVESTIGACIÓN</h3>
  <p>La Defensoría Universitaria investiga, ya sea de oficio o a instancia de parte, las reclamaciones, quejas y consultas que
    se les haga llegar por parte de la comunidad universitaria.
  </p>

</div>
<form class="well">
  <p>
    Las quejas deberán formularse por escrito a través del formulario on-line o presentándolas personalmente en la Defensoría
    Universitaria, indicando los datos personales del peticionario, domicilio a efecto de notificaciones, hechos que originan
    la petición y alcance de la petición que se formula. Los datos se mantendrán rigurosamente en secreto excepto en las
    situaciones en que resulte imprescindible indicarlos para su trámite.
  </p>
  <p>
    Se dará recibo del escrito indicando el número de expediente asignado. Este número será de utilidad para obtener información
    sobre la petición formulada.
  </p>
  <p>
    Admitida la queja o iniciado de oficio el procedimiento, se promoverá la oportuna investigación, dentro de la más absoluta
    reserva, para el esclarecimiento de los hechos.
  </p>
  <p>
    En el curso de la investigación, se dará cuenta del contenido sustancial de la solicitud recibida al órgano o instancia administrativa
    procedente, para que en el plazo máximo de treinta días remita informe escrito sobre los hechos.
  </p>
  <p>
    Una vez concluida su actuación notificará su resolución a los interesados y lo comunicará al órgano universitario afectado,
    con las recomendaciones y propuestas de actuación o cambio derivadas de la normativa, si procediera.
  </p>
  <p>
    Si una vez iniciada una actuación, se interpusiese por persona interesada demanda o recurso en vía administrativa o ante
    los Tribunales de Justicia, suspenderá su intervención.
  </p>
  <p>
    Si se rechazara una queja, se hará en escrito motivado con comunicación al interesado, informándole sobre las vías más oportunas
    para ejercitar su pretensión.
  </p>
  <p>
    <img src="images/investigacion-pasos.jpg" alt="investigacion">
  </p>
</form>